@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e47226;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}


.title {
    color: white;
    
}
/*Título principal*/
body > div.header-container > header > h1 > a > img{
    width: 100%;
    transition: width 400ms;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

#idFiltros > form > label, input{
    display: block;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: black;
    padding: 0px 3% 1%;
}

.footer-container footer {
    color: white;
    padding: 10px 0;
}

body > div.header-container > header > h1 > a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

body > div.header-container > header > nav > ul > li > a{
    color: black;
}

body > div.main-container > div > aside > ul > li > a{
    font-family:  cursive;
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
    ==================== */
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
    INTERMEDIATE: IE Fixes
    ======================== */
    nav ul li {
        display: inline;
    }
}

@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
    ==================== */
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
    WIDE: Menu
    ============ */
    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }


    body > div.header-container > header > h1 > a {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color: black;
    }

    body > div.main-container > div > aside{
        float: left;
        width: 24%;
        position: left;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color: black;
    }

    body > div.header-container > header > nav > ul > li > a{
        color: black;
    }

    p{
        text-align: justify;
    }

    /* ============
    WIDE: Main
    ============ */
    .main article {
        float: right;
        width: 67%;
    }
}

@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
    =============== */
    .wrapper {
        width: 1200px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}
    
